// Background colors 

$main: rgba(4,140, 168, 1);
$secondary: rgba(22, 219, 147, 1);
$accent: rgba(208, 22, 103, 1);

$white: rgb(225, 225, 225);
$dark: #444;

// text colors

$text-main: $secondary;
$text-inverse: $white;
$text-accent: $accent;
$text-secondary: $main;
